/* Declare variable */

// Color-pallette
$YELLOW-COLOR: #f2e94e;
$DARKYELLOW-COLOR: #fed766;
$RED-COLOR: #da3e52;
$GREEN-COLOR: #96e6b3;
$BLUE-COLOR: #a3d9ff;
$BLACK-COLOR: #272727;
$GREY-COLOR: #696773;
$WHITE-COLOR: #EFF1F3;

/* Main layout */
body {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 15vh 1fr;
    
    header { grid-area: 1 / 1 / 2 / 2; }
    main { grid-area: 2 / 1 / 3 / 2; }
}

main-content { background-color: $WHITE-COLOR; }

audio, iframe { display: none; } // hide the audio tags

/* Header (TOPBAR) layout */
header {
    background-color: $DARKYELLOW-COLOR;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 4vw;
    z-index: 997;

    a {
        cursor: pointer;
        img {
            max-width: 15vw;
            max-height: 10vh;
        }
    }

    nav ul {
        list-style: none;
    }

    nav ul li {
        display: inline-block;
        padding: 0px 4vw;
    }
}

/* Tomato currency layout */
figure.Tomato-text {
    display: flex;
    img { 
        max-width: 5em;
        max-height: 6em;
        width: 100%;
        height: 100%;
    }
    figcaption { 
        padding-top: 10px; 
        padding-left: 20px;
    }
}